@font-face {
  font-family: "Prompt-Regular";
  src: url("../font/Prompt-Regular.ttf");
}

@font-face {
  font-family: "Prompt-Light";
  src: url("../font/Prompt-Light.ttf");
}

@font-face {
  font-family: "Prompt-Bold";
  src: url("../font/Prompt-Bold.ttf");
}

.regular-th {
  font-family: "Prompt-Regular", "Prompt-Regular";
}

.light-th {
  font-family: "Prompt-Light", "Prompt-Light";
}

.bold-th {
  font-family: "Prompt-Bold", "Prompt-Bold";
}

/*product card in product page*/
.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1);
}

/* ------------------ modal border-radius ------------------ */
.modal-header {
  background-color: #51bcda;
  -webkit-border-radius: 30px 30px 0px 0px !important;
  -moz-border-radius: 30px 30px 0px 0px !important;
  border-radius: 30px 30px 0px 0px !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.modal-content {
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
}

/* ------------------------------------------------------- */


/* ----------------- modal middle screen ----------------- */

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 90%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.modal {
  text-align: center;
}

/* ------------------------------------------------------- */






